@import url('https://fonts.googleapis.com/css?family=Lexend:700|Noto%20Sans:400');
@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lexend';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


:root {
--text: #e7e9fd;
--background: #1a1c32;
--primary: rgb(67, 224, 255);
--secondary: #42f6c9;
--accent: #a3006a;

--radius: 0.625rem;
--foreground: var(--text);
--card: var(--background);
--card-foreground: var(--foreground);
--popover: var(--background);
--popover-foreground: var(--foreground);
--primary-foreground: #000000;
--secondary-foreground: #000000;
--muted: #333333;
--muted-foreground: #cccccc;
--accent-foreground: #ffffff;
--destructive: #ff5555;
--border: #666666;
--input: #222222;
--ring: #25e5fe;
}

@theme inline {
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-card: var(--card);
--color-card-foreground: var(--card-foreground);
--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);
--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);
--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);
--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);
--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);
--color-destructive: var(--destructive);
--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);
}

@layer base {

* {
  @apply border-border outline-ring/50;
  }
  body {
  @apply bg-background text-foreground;
  }
  }
